/* .sanket {
     
        color: red;
        text-align: center;
        margin-top: 200px;
    
} */


.mainWrapper {
        width: 90%;
        float: left;
        height: 300px;
        border: 1px solid red;
        border-radius: 5px;
        background-color: red;
        margin: 50px;
        // height: auto;

}


.mainWrapper p {
        color: white;
}


