.modalCloseIcon{                            // ithe apli nornmal css che classses property liha lagtat..//
    position:absolute !important;                  // sx ani he both are different ../ ith cha jr class applyy nahi zala tr sx madhe props lihine i.e. inline css in mui component ..//
    right:8px;                             // dogancga sytax vegla ahe ..//
    top:8px;
    // margin-top: 100px;                      // marginTop ashi css lihitat sx madhe .. so both are different ...//
}