


/************************************* text-color **************************************/
$primaryColor:red;
$secondaryColor:green;

// background-Color //

$primaryBgColor : orange;
$secondayBgColor : purple;

// ********************** Box *************************** //

$primaryBoxBgColor : pink;
$secondayBgColor : blue;

// ************************* Fonts-Family ************************* //
$primaryFonts : 'cursive';
$secondaryFonts : 'Georgia';


// ************************* Font - Size ************************* //

$primaryFontSize : 20px;
$seccondaryFontSize : 35px;