.mainWrapperLeft{
    width: 70%;
    height: 500px;
    float: left;
    background-color: orangered;
}

.mainWrapperRight{
    width: 30%;
    height: 500px;
    float: left;
    background-color: rgb(236, 14, 169);
}

.mainWrapperRight1{
    width: 100%;
    height: 250px;
    float: left;
    background-color: aqua;
    
}

.mainWrapperRight1 h3 {
    color: white;
} 

.mainWrapperRight2{
    width: 100%;
    height: 250px;
    float: left;
    background-color: rgb(2, 24, 103);
    
}

.mainWrapperRight2 h3 {
    color: white;
} 


